/******************** RECIPES ********************/

.recipes {
  position: relative;
  margin: 10px;
}

.recipes img {
  border-radius: 10px;
}

.recipes img:hover {
  opacity: 0.6;
}

.recipes h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 4.5rem;
  font-weight: bold;
  color: #000;
  border-radius: 15px;
  font-family: 'Voltaire', sans-serif;
}

.hidden {
  display: none;
}

/* .recipes h3::before {
  content: '';
  width: 150px;
  height: 4px;
  background: #000;
  display: block;
  margin: 0 auto;
}

.recipes h3::after {
  content: '';
  width: 150px;
  height: 4px;
  background: #000;
  display: block;
  margin: 0 auto;
} */