@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&family=Voltaire&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************** HEADER-LOGO  ********************/

.logo {
  text-align: center;
  padding: 0 15px;
}

.logo img {
  width: 200px;
  border-radius: 50%;
  margin-top: 70px;
  margin-bottom: 30px;
}

.logo p {
  color: #000;
  font-size: 1.9rem;
  margin: 0;
  line-height: 2.2rem;
}

.logo p span {
  color: #009900;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.logo a {
  text-decoration: none;
}

/******************** INTRO ********************/

.introducao {
  height: 100vh;
  background: url(../images/intro-bg.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******************** INTRO-CAROUSEL ********************/

.carousel {
  text-align: center;
  margin-top: 100px;
  width: 54%;
}

/******************** INTRO-QUOTE ********************/

.quote-externo p {
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.7rem;
  margin-bottom: 5px;
}

.quote-externo cite {
  color: #000;
  font-size: 1.3rem;
  font-family: 'Voltaire', sans-serif;
}

/******************** REASON ********************/

.reason {
  background-color: #009900;
}

.reason .subtitle {
  text-align: center;
  padding-top: 20px;
  font-family: 'Voltaire', sans-serif;
  font-size: 2.4rem;
  color: #000;
}

.cards {
  display: flex;
  justify-content: center;
  font-family: 'Josefin Sans', sans-serif;
}

.cards .card {
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #000;
}

.cards .card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cards .card .card-body {
  color: #000;
}

/******************** HOW TO GO ********************/

.how-go-vegan {
  text-align: center;
  padding-bottom: 30px;
  width: 50%;
  margin: 0 auto;
}
.how-go-vegan .subtitle {
  text-align: center;
  padding-top: 20px;
  font-family: 'Voltaire', sans-serif;
  font-size: 2.4rem;
  color: #000;
}

.how-go-vegan .btn-primary {
  border: 2px solid #009900;
  background-color: #009900;
  color: #000;
  width: 200px;
  height: 150px;
  margin: 10px;
  border-radius: 50px;
  font-size: 1.2rem;
}

.how-go-vegan .btn-primary:hover {
  background: none;
  color: #009900;
}

/******************** RECIPES ********************/

.recipes {
  background-color: #009900;
}

.all-recipes {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 150px;
}

.check h2 {
  text-align: center;
  padding-top: 20px;
  font-family: 'Voltaire', sans-serif;
  font-size: 2.4rem;
  color: #000;
}

.recipe-img {
  text-align: center;
}

.breakfast img,
.lunch img,
.dinner img,
.dessert img {
  height: 250px;
  border-radius: 20px;
}

/* .breakfast img,
.lunch img,
.dinner img,
.dessert img {
  width: 100%;
  border-radius: 10px;
} */

/******************** FOOTER ********************/

footer .copy {
  padding: 10px;
  text-align: center;
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
}