

/******************** BUTTON ********************/

.button {
  border: none;
  width: 100%;
  border-radius: 10px;
  padding: 5px 0;
}

/******************** BACKGROUND ********************/

.how-go-vegan {
  padding-bottom: 30px;
  background-color: #009900;
}

/******************** ACCORDION ********************/

.accordion .card {
  border: none;
  margin: 0 auto;
  background: #009900;
}

.accordion .card .card-header {
  background: none;
  border: none;
}

.accordion .card .accordion-collapse {
  margin: 0 -70px;
  width: 30rem;
}